
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(234,163,23,1) 0%, rgba(88,196,223,1) 100%);
  color: rgb(237, 237, 237);
 }


 body, input, textarea, select, button {
   font: 400 1rem "Roboto", sans-serif;
 }

 button {
   cursor: pointer;
 }

 input{
  cursor: pointer;
  box-shadow: 0 0 0 0;
  outline: none;
  border:none;
 
 }
 input:focus{
   border: 1px solid rgba(234,163,23,1);

 }

 input:hover{
   background: rgb(243, 243, 243)
 }
